{% extends 'mainApp/wrapper.html'%}

{% block content%}
<h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">Добро пожаловать в школу информационной безопасности</h2>
<p>В последнее время информационные технологии активно проникают в нашу жизнь, они охватывают методы сбора, обработки, преобразования, хранения и распределения информации. На протяжении довольно длительного периода времени эти технологии развивались на языковой и "бумажной" буквенно-цифровой основе. В настоящее время информационно-деловая активность человечества смещается в область кибернетического пространства. Это пространство становится реальностью мирового сообщества и определяет переход к "безбумажному, электронному" развитию информационных технологий. Электронный обмен информацией дешевле, быстрее и надежнее "бумажного".

<p>Мы представляем вашему внимаю школу информационной безопасности. Что это Вам даст?</p>

<p>-Практические навыки в ИБ и программировании</p>

<p>-Навыки в безопасности веб сервисов</p>

<p>-Обнаружение, отражение и проведение атак</p>

<p>-Комнаду единомышленников</p>

<p>-Печеньки</p>


{% endblock %}
